@media (min-width: 768px) {
  .container-small {
    width: 300px;
  }

  .container-large {
    width: 970px;
  }
}

@media (min-width: 992px) {
  .container-small {
    width: 500px;
  }

  .container-large {
    width: 1170px;
  }
}

@media (min-width: 1200px) {
  .container-small {
    width: 700px;
  }

  .container-large {
    width: 1500px;
  }
}

.container-small,
.container-large {
  max-width: 100%;
}

button {
  background: #fff;
  border: unset;
  outline: 0;
  font-size: 18px;
  cursor: pointer;
  color: #65676b;
  padding: 5px 10px;
}

button.liked {
  color: #0571ed;
}

button.liked i {
  animation: anim 0.5s ease-in-out;
  -webkit-animation: anim 0.5s ease-in-out;
}

@keyframes anim {
  100% {
    transform: rotate(-15deg) scale(1.3);
    -webkit-transform: rotate(-15deg) scale(1.3);
    -moz-transform: rotate(-15deg) scale(1.3);
    -ms-transform: rotate(-15deg) scale(1.3);
    -o-transform: rotate(-15deg) scale(1.3);
    filter: blur(0.5px);
    -webkit-filter: blur(0.5px);
  }
}
